@import 'fonts.css';
html,
body {
  padding: 0;
  margin: 0;
}
input:focus,
textarea:focus,
button:focus,
[contenteditable=true]:focus {
  outline: none;
}
textarea {
  resize: none;
}
.tl_page_wrap {
  max-width: 732px;
  margin: 0 auto;
}
.tl_page {
  position: relative;
  padding: 21px 0;
}
.button {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 16px;
  text-transform: uppercase;
  padding: 4px 12px;
  margin: 0 0 15px;
  background-color: #fff;
  cursor: pointer;
}
.tl_message {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  padding: 70px 0;
  color: #79828B;
  text-align: center;
}
.tl_message h1 {
  font-size: 120px;
  margin: 0;
}
.tl_message_buttons {
  padding: 70px 0;
}
.tl_message_buttons .button {
  display: inline-block;
  margin: 0;
}
.tl_message_buttons .button + .button {
  margin-left: 12px;
}
.tl_article_buttons {
  position: fixed;
  left: 50%;
  top: 0;
  right: 0;
  margin: 46px 0 0 376px;
}
@media (max-width: 960px) {
  .tl_article_buttons {
    position: static;
    width: auto;
    margin: 30px 21px;
    padding: 1px 0;
  }
}
.tl_article_buttons .button {
  transition: opacity 0.4s ease;
  /* visibility: hidden; */
  /* opacity: 0; */
}
.tl_article_buttons .edit_button {
  position: absolute;
}
.tl_article_edit .publish_button,
.tl_article_saving .publish_button {
  visibility: visible;
  opacity: 1;
}
.tl_article_saving .publish_button {
  opacity: .4;
}
.tl_article .share_button,
.tl_article_editable .edit_button {
  visibility: visible;
  opacity: 1;
}
.tl_article_edit .share_button,
.tl_article_saving .share_button,
.tl_article_edit .edit_button,
.tl_article_saving .edit_button {
  visibility: hidden;
  opacity: 0;
}
.tl_article .ql-container {
  height: auto;
}
.prompt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.prompt .prompt_input_wrap {
  overflow: hidden;
}
.prompt .prompt_input {
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}
.tl_tooltip {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #292927;
  border-radius: 6px;
  padding: 9px 12px;
  line-height: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease 0.06s, transform 0.2s ease 0.06s;
  transform: translate3d(0, 16px, 0);
  opacity: 0;
}
.tl_tooltip.bottom {
  transform: translate3d(0, -16px, 0);
}
.tl_tooltip.bottom button {
  transform: translate3d(0, -10px, 0);
  opacity: 1;
}
.tl_tooltip.move_anim {
  transition: opacity 0.2s ease 0.06s, transform 0.2s ease 0.06s, top 0.2s ease, left 0.2s ease;
}
.tl_tooltip.shown {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.tl_tooltip.shown button {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.tl_tooltip.shown button.disabled {
  cursor: default;
  opacity: .6;
}
.tl_tooltip button,
.tl_tooltip .button_hover {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.tl_tooltip button {
  position: relative;
  transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  transform: translate3d(0, 10px, 0);
  opacity: 0;
}
.tl_tooltip button:before,
.tl_tooltip button:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.tl_tooltip button:before,
.tl_tooltip button.active:after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.tl_tooltip button:after,
.tl_tooltip button.active:before {
  transform: scale3d(1.2, 1.2, 1);
  opacity: 0;
}
.tl_tooltip button#_bold_button {
  transition-delay: 0s;
}
.tl_tooltip button#_italic_button {
  transition-delay: .02s;
}
.tl_tooltip button#_link_button {
  transition-delay: .04s;
}
.tl_tooltip button#_header_button {
  transition-delay: .06s;
}
.tl_tooltip button#_subheader_button {
  transition-delay: .08s;
}
.tl_tooltip button#_quote_button {
  transition-delay: .1s;
}
.tl_tooltip button + button {
  margin-left: 7px;
}
.tl_tooltip button.active {
  background-color: #eaeaea;
}
.tl_tooltip .button_hover {
  background-color: #545452;
}
.tl_tooltip .prompt,
.tl_tooltip .buttons {
  transition: opacity 0.2s ease;
}
.tl_tooltip .prompt,
.tl_tooltip.tooltip_prompt .buttons {
  pointer-events: none;
  opacity: 0;
}
.tl_tooltip.shown.buttons,
.tl_tooltip.shown.tooltip_prompt .prompt {
  pointer-events: auto;
  opacity: 1;
}
.tl_tooltip .prompt_input {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 13px 10px;
}
.tl_tooltip .close {
  float: right;
  width: 18px;
  font-size: 15px;
  line-height: 18px;
  margin: 13px 5px;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s ease;
}
.tl_tooltip .close:before {
  content: '\00d7';
}
.tl_tooltip .close:hover {
  color: #fff;
}
.button_hover {
  position: absolute;
  transition: opacity 0.2s ease;
  opacity: 0;
}
.tl_tooltip.hover_anim .button_hover {
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.tl_tooltip.hover .button_hover {
  opacity: 1;
}
.tl_tooltip[data-hover=_bold_button] .button_hover {
  transform: translate3d(0, 0, 0);
}
.tl_tooltip[data-hover=_italic_button] .button_hover {
  transform: translate3d(33px, 0, 0);
}
.tl_tooltip[data-hover=_link_button] .button_hover {
  transform: translate3d(66px, 0, 0);
}
.tl_tooltip[data-hover=_header_button] .button_hover {
  transform: translate3d(106px, 0, 0);
}
.tl_tooltip[data-hover=_subheader_button] .button_hover {
  transform: translate3d(139px, 0, 0);
}
.tl_tooltip[data-hover=_quote_button] .button_hover {
  transform: translate3d(172px, 0, 0);
}
body.mobile .button_hover {
  display: none;
}
.buttons {
  position: relative;
}
.buttons button,
.buttons .button_hover {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
}
.buttons button:before,
.buttons button:after,
.tl_blocks .buttons button {
  background: url('/images/icons.png?1') no-repeat -8px 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .buttons button:before,
  .buttons button:after,
  .tl_blocks .buttons button {
    background-image: url('/images/icons_2x.png?1');
    background-size: 40px 487px;
  }
}
.buttons #_bold_button:before {
  background-position: -8px -6px;
}
.buttons #_bold_button:after {
  background-position: -8px -38px;
}
.buttons #_italic_button:before {
  background-position: -8px -70px;
}
.buttons #_italic_button:after {
  background-position: -8px -102px;
}
.buttons #_link_button:before {
  background-position: -8px -134px;
}
.buttons #_link_button:after {
  background-position: -8px -166px;
}
.buttons #_header_button:before {
  background-position: -8px -198px;
}
.buttons #_header_button:after {
  background-position: -8px -230px;
}
.buttons #_subheader_button:before {
  background-position: -8px -262px;
}
.buttons #_subheader_button:after {
  background-position: -8px -294px;
}
.buttons #_quote_button:before {
  background-position: -8px -326px;
}
.buttons #_quote_button:after {
  background-position: -8px -390px;
}
.buttons #_quote_button.pullquote:after {
  background-position: -8px -358px;
}
.buttons #_image_button {
  background-position: -8px -422px;
}
.buttons #_embed_button {
  background-position: -8px -454px;
}
.buttons .button_group + .button_group {
  margin-left: 14px;
}
.tl_blocks {
  position: absolute;
  text-align: right;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease;
}
.tl_blocks.shown {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 960px) {
  .tl_blocks {
    text-align: center;
  }
}
.tl_blocks .buttons {
  position: absolute;
  display: inline-block;
  right: 100%;
  margin-top: -14px;
  margin-right: -6px;
  width: 80px;
}
@media (max-width: 960px) {
  .tl_blocks .buttons {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
  }
}
.tl_blocks button {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
  margin: 1px 6px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: right;
}
@media (max-width: 960px) {
  .tl_blocks button {
    float: none;
  }
}
.tl_article_header {
  word-wrap: break-word;
}
.tl_article.tl_article_edit .tl_article_content h1,
.tl_article.tl_article_edit .tl_article_content address,
.tl_article .tl_article_header {
  display: block;
}
.tl_article .tl_article_content h1,
.tl_article .tl_article_content address,
.tl_article_edit .tl_article_header {
  display: none;
}
/* Article styles */
.tl_article ::selection {
  background: #dbdbdb;
}
.tl_article ::-moz-selection {
  background: #dbdbdb;
}
.tl_article .cursor_wrapper {
  display: none;
  position: absolute;
  font-size: 1px;
  left: 50%;
  z-index: -1;
}
.tl_article.tl_article_edit .cursor_wrapper {
  display: inline;
}
.tl_article.tl_article_edit *[data-placeholder].empty {
  position: relative;
}
.tl_article.tl_article_edit *[data-placeholder].empty:before {
  position: absolute;
  left: 0;
  right: 0;
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.44);
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}
.tl_article.tl_article_edit *[data-label] {
  position: relative;
}
.tl_article.tl_article_edit *[data-label]:after,
.tl_article.tl_article_edit.title_focused *[data-label].empty:after {
  position: absolute;
  content: attr(data-label);
  color: rgba(0, 0, 0, 0.44);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  right: 100%;
  top: -6px;
  bottom: -6px;
  padding: 6px 12px;
  font-weight: normal;
  margin: 0 21px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease;
}
@media (max-width: 960px) {
  .tl_article.tl_article_edit *[data-label]:after {
    display: none;
  }
}
.tl_article.tl_article_edit.title_focused *[data-label]:after {
  opacity: 1;
  visibility: visible;
}
.tl_article.tl_article_edit h1:before,
.tl_article.tl_article_edit h1:after {
  transition: color 0.4s ease, border-right 0.4s ease;
}
.tl_article.tl_article_edit.title_required h1[data-placeholder]:before {
  color: rgba(255, 0, 0, 0.75);
}
.tl_article.tl_article_edit.title_required h1[data-label]:after {
  border-right: 1px solid rgba(255, 0, 0, 0.25);
  color: rgba(255, 0, 0, 0.75);
}
.tl_article .tl_article_header,
.tl_article .tl_article_content,
.tl_article .tl_article_content .ql-editor {
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}
.tl_article .ql-editor {
  height: 100%;
  overflow: visible;
  text-align: inherit;
}
.tl_article .tl_article_content,
.tl_article .tl_article_content .ql-editor * {
  white-space: pre-wrap;
}
.tl_article .tl_article_content.ql-container {
  white-space: normal;
}
.tl_article h1,
.tl_article h2 {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin: 21px 21px 12px;
  line-height: 34px;
}
.tl_article h2 {
  font-size: 24px;
  margin: -6px 21px 12px;
  color: rgba(0, 0, 0, 0.44);
}
.tl_article address {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #79828B;
  margin: 12px 21px;
  font-style: normal;
}
.tl_article address a {
  color: #79828B;
}
.tl_article.tl_article_edit address {
  direction: ltr;
}
.tl_article.tl_article_edit h1.dir_rtl + address,
.tl_article.tl_article_edit h2.dir_rtl + address {
  direction: rtl;
}
.tl_article address.empty {
  display: none;
}
.tl_article.tl_article_edit address.empty {
  display: block;
}
.tl_article address time:before {
  content: '\2022';
  padding: 0 7px;
}
.tl_article time:empty:before,
.tl_article address a[rel=author]:empty + time:before {
  display: none;
}
.tl_article a[href] {
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.44);
  text-decoration: none;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.7);
}
.tl_article address a[href] {
  border-bottom: none;
}
.tl_article.tl_article_edit address a[href] {
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.4);
}
.tl_article .tl_article_content p {
  margin: 0 21px 12px;
  word-wrap: break-word;
}
.tl_article .tl_article_content code,
.tl_article .tl_article_content pre {
  font-family: Menlo, 'Courier New', Courier, monospace;
  font-size: 16px;
  background: #F5F8FC;
}
.tl_article .tl_article_content code {
  padding: 1px 3px;
}
.tl_article .tl_article_content pre {
  margin: 14px 0;
  padding: 7px 21px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.tl_article .tl_article_content h3,
.tl_article .tl_article_content h4 {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  margin: 18px 21px 9px;
}
.tl_article .tl_article_content h4 {
  font-size: 24px;
  margin: 18px 21px 7px;
}
.tl_article .tl_article_content blockquote {
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
  margin: 18px 21px 16px 0;
  padding-left: 15px;
  position: relative;
  font-style: italic;
  word-wrap: break-word;
  border-left: 3px solid #000;
}
.tl_article .tl_article_content blockquote.dir_rtl {
  margin-left: 21px;
  margin-right: 0;
  padding-right: 15px;
  padding-left: 0;
  border-right: 3px solid #000;
  border-left: none;
}
.tl_article .tl_article_content aside {
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin: 18px 21px 16px;
  padding: 0 18px;
  text-align: center;
  font-style: italic;
}
.tl_article .tl_article_content hr {
  width: 50%;
  margin: 30px auto;
  border: none;
  font-size: 2px;
  text-align: right;
  overflow: visible;
}
.tl_article .tl_article_content hr:after {
  content: '';
  display: block;
  border-top: 1px solid #c9cdd1;
  margin: 0 3px;
  position: relative;
  top: 1px;
}
.tl_article .tl_article_content ul,
.tl_article .tl_article_content ol {
  padding: 0;
  margin: 21px;
  list-style: none;
  list-style-image: none;
  counter-reset: list;
}
.tl_article .tl_article_content ul li,
.tl_article .tl_article_content ol li {
  margin-left: 30px;
  margin-bottom: 14px;
  padding: 0;
  position: relative;
}
.tl_article .tl_article_content ul.dir_rtl li,
.tl_article .tl_article_content ol.dir_rtl li {
  margin-right: 30px;
  margin-left: 0;
}
.tl_article .tl_article_content ul li:before,
.tl_article .tl_article_content ol li:before {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 78px;
  margin: 0;
  margin-left: -78px;
  text-align: end;
}
.tl_article .tl_article_content ul.dir_rtl li:before,
.tl_article .tl_article_content ol.dir_rtl li:before {
  margin-right: -78px;
  margin-left: 0;
}
.tl_article .tl_article_content ul li:before {
  padding: 1px 15px 0 0;
  content: '\2022';
}
.tl_article .tl_article_content ul.dir_rtl li:before {
  padding-left: 15px;
  padding-right: 0;
}
.tl_article .tl_article_content ol li:before {
  font-feature-settings: 'liga' on, 'lnum' on;
  -moz-font-feature-settings: 'liga' on, 'lnum' on;
  -webkit-font-feature-settings: 'liga' on, 'lnum' on;
  padding-right: 12px;
  counter-increment: list;
  content: counter(list) '.';
}
.tl_article .tl_article_content ol.dir_rtl li:before {
  padding-left: 12px;
  padding-right: 0;
}
.tl_article .tl_article_content img,
.tl_article .tl_article_content video,
.tl_article .tl_article_content iframe,
.tl_article .tl_article_content .iframe_wrap {
  max-width: 100%;
  vertical-align: top;
}
.tl_article .tl_article_content .iframe_wrap {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.tl_article .tl_article_content .iframe_wrap iframe {
  position: absolute;
  width: 1px;
  height: 1px;
  min-width: 100%;
  min-height: 100%;
  *width: 100%;
  *height: 100%;
  top: 0;
  left: 0;
}
.tl_article .tl_article_content figure {
  margin: 0 21px 16px;
  padding: 0;
  text-align: center;
  position: relative;
}
.tl_article .tl_article_content figcaption,
.tl_article .tl_article_content figcaption .editable_input {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  color: #79828B;
  padding: 12px 21px 0;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
}
.tl_article .tl_article_content figcaption .editable_input {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.tl_article .tl_article_content .figure_wrapper {
  position: relative;
}
.tl_article .tl_article_content .figure_wrapper img,
.tl_article .tl_article_content .figure_wrapper video {
  opacity: 1;
  transition: opacity .15s ease;
  max-height: 690px;
}
.tl_article .tl_article_content .figure_wrapper.loading img,
.tl_article .tl_article_content .figure_wrapper.loading video {
  opacity: 0.3;
}
.tl_article .tl_article_content .figure_wrapper .file_progress {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: opacity .15s ease;
  visibility: hidden;
  opacity: 0;
}
.tl_article .tl_article_content .figure_wrapper.loading .file_progress {
  visibility: visible;
  opacity: 1;
}
.tl_article .tl_article_content .figure_wrapper .file_progress_bar {
  height: 2px;
  background-color: #333;
  transition: width .1s linear;
  width: 0;
}
.tl_article .tl_article_content input.ql-image[type=file],
.tl_article .tl_article_content input.ql-image[type=file] {
  display: none;
}
.tl_article.tl_article_edit img:hover,
.tl_article.tl_article_edit video:hover,
.tl_article.tl_article_edit iframe:hover,
.tl_article.tl_article_edit .iframe_wrap:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
.tl_article.tl_article_edit figure.focus img,
.tl_article.tl_article_edit figure.focus video,
.tl_article.tl_article_edit figure.focus iframe,
.tl_article.tl_article_edit figure.focus .iframe_wrap {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
}
.tl_article.tl_article_edit figcaption[data-placeholder].empty {
  position: relative;
  overflow: hidden;
}
.tl_article.tl_article_edit figcaption[data-placeholder].empty:before {
  display: none;
}
.tl_article.tl_article_edit figcaption[data-placeholder].empty:after {
  position: relative;
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.44);
  font-weight: normal;
}
.tl_article.tl_article_edit figcaption[data-placeholder].empty .editable_input {
  text-align: left;
  position: absolute;
  width: 1px;
}
.account {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin: 0 0 15px;
  white-space: pre-wrap;
}
.account:empty {
  display: none;
}
@media (max-width: 960px) {
  .account_top {
    display: none;
  }
}
.account_bottom {
  display: none;
}
@media (max-width: 960px) {
  .account_bottom {
    display: block;
  }
}
.error_msg {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  color: rgba(255, 0, 0, 0.75);
  font-style: normal;
  line-height: 18px;
  margin: 0 0 15px;
  white-space: pre;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease;
}
.error_msg.shown {
  opacity: 1;
  visibility: visible;
}
.tl_link_tooltip {
  position: absolute;
  left: 0;
  top: 0;
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 14px;
  background-color: #292927;
  border: none !important;
  border-radius: 6px;
  line-height: 19px;
  padding: 7px 10px;
  color: #fff;
  word-wrap: break-word;
  text-align: center;
  max-width: 300px;
  pointer-events: none;
  transition: opacity 0.2s ease 0.06s;
  opacity: 0;
}
.tl_link_tooltip.move_anim {
  transition: opacity 0.2s ease 0.06s, top 0.2s ease, left 0.2s ease;
}
.tl_link_tooltip.shown {
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 350px) {
  .tl_link_tooltip {
    max-width: 80%;
  }
}
.tl_link_tooltip,
.tl_tooltip,
.tl_blocks {
  display: none;
}
.ql-container .tl_link_tooltip,
.ql-container .tl_tooltip,
.ql-container .tl_blocks {
  display: block;
}
.tl_alert {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.tl_alert.tl_alert_loading .button {
  opacity: .4;
  pointer-events: none;
}
.tl_alert_message {
  font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  color: #333;
  width: 270px;
  background: #fff;
  padding: 35px 50px;
  word-wrap: break-word;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.tl_alert_message a {
  color: #333;
}
@media (max-width: 400px) {
  .tl_alert_message {
    width: auto;
    left: 15px;
    right: 15px;
    padding: 25px 40px;
  }
}
.tl_alert_message .tl_message_buttons {
  padding: 30px 0 0;
  text-align: center;
}
